<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs | Viwyn</title>
    <link href="/css/blogs.css" rel="stylesheet"> 
    <link href="/css/blogPostCreate.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="#" class="nav-brand">
                <svg class="nav-logo" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" width="50" height="50" viewBox="0 0 128 128"><g transform="matrix(0.8046875,0,0,0.8046875,12.308860197179875,8.297454637096777)"><svg viewBox="0 0 143 155" data-background-color="#000000" preserveAspectRatio="xMidYMid meet" height="138" width="128" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="tight-bounds" transform="matrix(1,0,0,1,0.2653688524590052,0.25)"><svg viewBox="0 0 142.46926229508196 154.5" height="154.5" width="142.46926229508196"><g><svg viewBox="0 0 142.46926229508196 154.5" height="154.5" width="142.46926229508196"><g><svg viewBox="0 0 142.46926229508196 154.5" height="154.5" width="142.46926229508196"><g id="textblocktransform"><svg viewBox="0 0 142.46926229508196 154.5" height="154.5" width="142.46926229508196" id="textblock"><g><svg viewBox="0 0 142.46926229508196 154.5" height="154.5" width="142.46926229508196"><g transform="matrix(1,0,0,1,0,0)"><svg width="142.46926229508196" viewBox="1.1 -24.4 22.5 24.4" height="154.5" data-palette-color="url(#18ba5438-066c-49c7-bdd8-48cc04137ffb)"></svg></g></svg></g></svg></g></svg></g><g></g></svg></g><defs></defs><mask id="cea7927d-d01b-4a77-a7b0-bd4bf480370f"><g id="SvgjsG5502"><svg viewBox="0 0 142.46926229508196 154.5" height="154.5" width="142.46926229508196"><g><svg viewBox="0 0 142.46926229508196 154.5" height="154.5" width="142.46926229508196"><g><svg viewBox="0 0 142.46926229508196 154.5" height="154.5" width="142.46926229508196"><g id="SvgjsG5501"><svg viewBox="0 0 142.46926229508196 154.5" height="154.5" width="142.46926229508196" id="SvgjsSvg5500"><g><svg viewBox="0 0 142.46926229508196 154.5" height="154.5" width="142.46926229508196"><g transform="matrix(1,0,0,1,0,0)"><svg width="142.46926229508196" viewBox="1.1 -24.4 22.5 24.4" height="154.5" data-palette-color="url(#18ba5438-066c-49c7-bdd8-48cc04137ffb)"><path d="M12.05-2.78L12.65-2.78 19.4-24.4 23.6-24.4 15.68 0 9.03 0 1.1-24.4 5.3-24.4 12.05-2.78Z" opacity="1" transform="matrix(1,0,0,1,0,0)" fill="white" class="wordmark-text-0" id="SvgjsPath5499"></path></svg></g></svg></g></svg></g></svg></g><g></g></svg></g><defs><mask></mask></defs></svg><rect width="142.46926229508196" height="154.5" fill="black" stroke="none" visibility="hidden"></rect></g></mask><linearGradient x1="0" x2="1" y1="0.548" y2="0.55" id="18ba5438-066c-49c7-bdd8-48cc04137ffb"><stop stop-color="#ff6cab" offset="0"></stop><stop stop-color="#7366ff" offset="1"></stop></linearGradient><rect width="142.46926229508196" height="154.5" fill="url(#18ba5438-066c-49c7-bdd8-48cc04137ffb)" mask="url(#cea7927d-d01b-4a77-a7b0-bd4bf480370f)" data-fill-palette-color="primary"></rect></svg><rect width="142.46926229508196" height="154.5" fill="none" stroke="none" visibility="hidden"></rect></g></svg></g></svg>
                Viwyn | Blogs
            </a>
            <input type="search" class="search-bar" placeholder="Search"/>
            <a class="user">
                <img src="/lib/placeholder.jpeg" class="user-pfp" alt="pfp">
            </a>
        </nav>
    </header>
    <main>
        <h1>
            Create Post
        </h1>
        <form id="postForm">
            <div>
                <label for="title" class="titleLabel">
                    <textarea class="title" id="title" name="title" maxlength="250" required rows="1"></textarea>
                    <span class="titlePlaceholder">Title</span>
                </label>
            </div>
            <div>
                <label for="images" id="image-drop">
                    <input type="file" id="images" name="images" accept="image/*" multiple hidden>
                    <div id="img-view">
                        <p>
                            Drag and drop or upload media
                        </p>
                        <svg class="img-upload-btn-logo" xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px"><path d="M440-320v-326L336-542l-56-58 200-200 200 200-56 58-104-104v326h-80ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg>
                    </div>
                </label>
            </div>
            <div id="image-carousel">
                <button class="carousel-button carousel-button--left">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
                </button>

                <div class="carousel-container">
                    <ul class="carousel-track">
                        <li class="carousel-slide current-slide">
                            <div class="image-preview">
                                <img src="/lib/placeholder.jpeg" alt="placeholder" class="imgPreviewFg">
                                <img src="/lib/placeholder.jpeg" alt="placeholder" class="imgPreviewBg">
                            </div>
                        </li>
                        <li class="carousel-slide">
                            <div class="image-preview">
                                <img src="/lib/placeholder.jpeg" alt="placeholder" class="imgPreviewFg">
                                <img src="/lib/placeholder.jpeg" alt="placeholder" class="imgPreviewBg">
                            </div>
                        </li>
                        <li class="carousel-slide">
                            <div class="image-preview">
                                <img src="/lib/placeholder.jpeg" alt="placeholder" class="imgPreviewFg">
                                <img src="/lib/placeholder.jpeg" alt="placeholder" class="imgPreviewBg">
                            </div>
                        </li>
                    </ul>
                </div>

                <button class="carousel-button carousel-button--right">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                </button>

                <div class="carousel-nav">
                    <button class="carousel-indicator current-slide"></button>
                    <button class="carousel-indicator"></button>
                    <button class="carousel-indicator"></button>
                </div>
            </div>
            <div>
                <label for="content">Content</label>
                <textarea id="content" name="content" rows="10" required></textarea>
            </div>
            <div>
                <button type="submit">Create Post</button>
            </div>
        </form>
    </main>
</body>
<script src="/scripts/blogPostCreate.js"></script>
</html>