<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- locals.username %>'s Profile</title>
    <link href="/css/blogs.css" rel="stylesheet">
    <link href="/css/loading.css" rel="stylesheet">
    <link href="/css/userProfile.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.js"></script>\
    <script>const username = '<%- locals.username %>'</script>
</head>
<body>
    <header>
        <nav>
            <a href="/blogs" class="nav-brand">
                <svg class="nav-logo" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" width="50" height="50" viewBox="0 0 128 128"><g transform="matrix(0.8046875,0,0,0.8046875,12.308860197179875,8.297454637096777)"><svg viewBox="0 0 143 155" data-background-color="#000000" preserveAspectRatio="xMidYMid meet" height="138" width="128" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="tight-bounds" transform="matrix(1,0,0,1,0.2653688524590052,0.25)"><svg viewBox="0 0 142.46926229508196 154.5" height="154.5" width="142.46926229508196"><g><svg viewBox="0 0 142.46926229508196 154.5" height="154.5" width="142.46926229508196"><g><svg viewBox="0 0 142.46926229508196 154.5" height="154.5" width="142.46926229508196"><g id="textblocktransform"><svg viewBox="0 0 142.46926229508196 154.5" height="154.5" width="142.46926229508196" id="textblock"><g><svg viewBox="0 0 142.46926229508196 154.5" height="154.5" width="142.46926229508196"><g transform="matrix(1,0,0,1,0,0)"><svg width="142.46926229508196" viewBox="1.1 -24.4 22.5 24.4" height="154.5" data-palette-color="url(#18ba5438-066c-49c7-bdd8-48cc04137ffb)"></svg></g></svg></g></svg></g></svg></g><g></g></svg></g><defs></defs><mask id="cea7927d-d01b-4a77-a7b0-bd4bf480370f"><g id="SvgjsG5502"><svg viewBox="0 0 142.46926229508196 154.5" height="154.5" width="142.46926229508196"><g><svg viewBox="0 0 142.46926229508196 154.5" height="154.5" width="142.46926229508196"><g><svg viewBox="0 0 142.46926229508196 154.5" height="154.5" width="142.46926229508196"><g id="SvgjsG5501"><svg viewBox="0 0 142.46926229508196 154.5" height="154.5" width="142.46926229508196" id="SvgjsSvg5500"><g><svg viewBox="0 0 142.46926229508196 154.5" height="154.5" width="142.46926229508196"><g transform="matrix(1,0,0,1,0,0)"><svg width="142.46926229508196" viewBox="1.1 -24.4 22.5 24.4" height="154.5" data-palette-color="url(#18ba5438-066c-49c7-bdd8-48cc04137ffb)"><path d="M12.05-2.78L12.65-2.78 19.4-24.4 23.6-24.4 15.68 0 9.03 0 1.1-24.4 5.3-24.4 12.05-2.78Z" opacity="1" transform="matrix(1,0,0,1,0,0)" fill="white" class="wordmark-text-0" id="SvgjsPath5499"></path></svg></g></svg></g></svg></g></svg></g><g></g></svg></g><defs><mask></mask></defs></svg><rect width="142.46926229508196" height="154.5" fill="black" stroke="none" visibility="hidden"></rect></g></mask><linearGradient x1="0" x2="1" y1="0.548" y2="0.55" id="18ba5438-066c-49c7-bdd8-48cc04137ffb"><stop stop-color="#ff6cab" offset="0"></stop><stop stop-color="#7366ff" offset="1"></stop></linearGradient><rect width="142.46926229508196" height="154.5" fill="url(#18ba5438-066c-49c7-bdd8-48cc04137ffb)" mask="url(#cea7927d-d01b-4a77-a7b0-bd4bf480370f)" data-fill-palette-color="primary"></rect></svg><rect width="142.46926229508196" height="154.5" fill="none" stroke="none" visibility="hidden"></rect></g></svg></g></svg>
                Viwyn | Blogs
            </a>
            <input type="search" class="search-bar" placeholder="Search"/>
            <a class="user">
                <img src="/lib/placeholder-user.svg" class="user-pfp" alt="pfp">
            </a>
        </nav>
    </header>
    <main>
        <div class="loading-overlay">
            <div class="spinner"></div>
            <div class="loading-text">Loading...</div>
        </div>
        <div class="user-profile">
            <div class="user-profile-left">
                <img id="user-pfp" src="/lib/placeholder-user.svg" loading="lazy">
                <div class="user-details">
                    <div class="user-details-main">
                        <h2 id="user-display-name"> display name </h2>
                        <h3 id="user-username"> username </h3>
                        <h3 id="user-pronouns"> Pronouns </h3>
                    </div>
                    <div class="user-details-links">
                    </div>
                </div>
            </div>
            <div class="user-profile-right">
                <h1>Blogs</h1>
                <div class="user-blogs-list" id="user-blogs-list">
                </div>
            </div>
        </div>
    </main>

</body>
<script src="/scripts/userProfile.js"></script>
</html>